<!-- components/modules/alertwrapper.html -->

<div id="" class="alert-wrapper" style="position:static;display:block;text-align:left;">
	<div class="alert alert-success" role="alert">Lorem Ipsum is simply dummy text</div>
</div>

<button type="button" class="btn btn-default" onclick="showAlertWrapper('alertSuccess')">Ver ejemplo</button>

<div id="alertSuccess" class="alert-wrapper" style="display: none;">
	<div class="alert alert-success" role="alert">Lorem Ipsum is simply dummy text</div>
</div>