<!-- components/modules/navegacion.html -->

<div class="navigation-links">
	<a href="" title="" class="a-link back-link"><span class="fa fa-angle-left"></span> Volver</a>
	
	<ul>
		<li class="li-inline">
			<a href="" title="" class="a-link">Estilos de cadena</a>								
		</li>
		<li class="li-inline">
			<a href="" title="" class="a-link">Configuración de cadena</a>		
		</li>
		<li class="li-inline">
			<a href="" title="" class="a-link">Editor hoteles de cadena</a>		
		</li>
		<li class="li-inline">
			<a href="" title="" class="a-link current">Selector de cadena</a>		
		</li>
	</ul>
	
</div>