<!-- components/modules/navpills.html -->

<!-- Nav tabs -->
<ul class="nav nav-pills" role="tablist">
	<li role="presentation" class=""><a href="#pill1" aria-controls="hotels" role="tab" data-toggle="tab" aria-expanded="false">Pill 1</a></li>
	<li role="presentation" class=""><a href="#pill2" aria-controls="tags" role="tab" data-toggle="tab" aria-expanded="false">Pill 2</a></li>
	<li role="presentation" class="active"><a href="#pill3" aria-controls="tags" role="tab" data-toggle="tab" aria-expanded="true">Pill 3</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade" id="pill1">
	Pill 1
	</div>
	<div role="tabpanel" class="tab-pane fade" id="pill2">
	Pill 2
	</div>
	<div role="tabpanel" class="tab-pane fade active in" id="pill3">
	Pill 3
	</div>
</div>